@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background-image: url("images/bg-intro-desktop.png");
	background-color: hsl(0, 100%, 74%);
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

.main {
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 1fr;
	grid-gap: 50px;
	align-items: center;
	justify-content: center;
	max-width: 1440px;
	margin: auto;
}

.info {
	grid-column: 2 / 3;
	color: white;
	margin-top: 280px;
}

.info h1 {
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 30px;
}

form {
	background-color: white;
	border-radius: 10px;
	padding: 30px;
}

form p a {
	text-decoration: none;
	color: red;
}

.form-main {
	grid-column: 3 / 4;
	margin-top: 250px;
}

.form-main h2 {
	background-color: hsl(248, 32%, 49%);
	border-radius: 10px;
	padding: 10px 50px;
	font-size: 1rem;
	color: white;
	font-weight: 500;
	text-align: center;
	margin-bottom: 15px;
	box-shadow: 0 5px 0 0 rgba(0,0,0,.2); 
}

.form-main h2 span {
	font-weight: 300;
}

input {
	position: relative;
	width: 100%;
	height: 45px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	margin: 10px 0 10px 5px;
}

form button {
	width: 100%;
	height: 45px;
	border: none;
	background-color: hsl(154, 59%, 51%);
	border-radius: 5px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.2); 
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}

form p {
	font-size: .5rem;
	text-align: center;
	margin-top: 10px;
	color: rgba(123,123,123,.8);
}

p span {
	color: red;
}

footer {
	position: relative;
	bottom: 0;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1050px) {
	.main {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, auto);
		align-items: center;
		justify-items: center;
		margin: 0 auto;
	}
	
	.info {
		grid-column-start: 1;
		margin-top: 20px;
		max-width: 400px;
	}
	
	.form-main {
		grid-column-start: 1;
		margin-top: 40px;
	}
}

@media screen and (max-width:375px) {
	body {
		background-image: url("images/bg-intro-mobile.png");
		background-color: hsl(0, 100%, 74%);
	}
	
	.info {
		width: 100%;
	}
	
	.info h1 {
		text-align: center;
		font-size: 1.8rem;
		width: 80%;
		margin: 0 auto;
	}
	
	.info p {
		text-align: center;
		width: 90%;
		margin: 0 auto;
	}
	
	.form-main {
		margin: 0;
	}
	
	.form-main h2 {
		width: 90%;
		margin: 0 auto;
	}
	
	form {
		width: 90%;
		height: auto;
		margin: 20px auto;
	}
	
	form p {
		width: 90%;
		margin: 10px auto 0;
		font-size: .8rem;
	}
}


